.button-wrapper {
  button {
    font-weight: 700;
    cursor: pointer;
    width: inherit;
    height: inherit;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: color $transition-duration $cubic-bezier, background-color $transition-duration $cubic-bezier, border-color $transition-duration $cubic-bezier;

    &:disabled {
      cursor: default;
    }
  }

  &:not(.link) button {
    border-radius: $button-border-radius;
  }

  &.primary button, &.secondary button, &.tertiary button {
    height: $button-height;
    min-height: $button-height;
    padding: 0 16px;

    &.focus-visible {
      border: 1px solid $black;
      outline: none;
    }
  }

  &.primary {
    button {
      color: $white;
      background-color: $cherry;

      &:disabled {
        background-color: $hue-2;
      }
    }

    &:not(.hover-none) button:not([disabled]):hover {
      background-color: $hue-1;
    }

    &:not(.hover-none) button:not([disabled]):active {
      background-color: $hue-0;
    }
  }

  &.secondary {
    button {
      color: $cherry;
      border: 2px solid $cherry;

      &:disabled {
        color: $gray-2;
        border-color: $hue-2;
      }
    }

    button:not(.bg--transparent) {
      background-color: $white;
    }

    &:not(.hover-none) button:not([disabled]):hover {
      color: $hue-1;
      border-color: $hue-1;
    }
  }

  &.tertiary {
    button {
      display: flex;
      align-items: center;
      color: $navy;
      border: 2px solid $navy;
      background-color: $white;

      &:disabled {
        background-color: $gray-3;
      }
    }

    &:not(.hover-none):not(.active) button:not([disabled]):hover {
      background-color: $light-blue;
    }

    &.active button {
      color: $white;
      background-color: $navy;
    }
  }

  &.link {
    button {
      position: relative;
      color: inherit;
      background: none;
      font-size: inherit;
      padding: 0;
      overflow: visible;
      letter-spacing: -0.3px;
      vertical-align: inherit;
      font-weight: inherit;

      &.focus-visible {
        border: 1px solid $black;
        outline: none;
      }
    }

    &.underline button {
      text-decoration: underline;
    }

    &:hover:not(.hover-none) button {
      text-decoration: underline;
    }
  }
}

a.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: $button-height;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 48px;
  padding: 0 16px;
  text-align: center;
  border: none;
  border-radius: $button-border-radius;
  white-space: nowrap;
  transition: color $transition-duration $cubic-bezier, background-color $transition-duration $cubic-bezier, border-color $transition-duration $cubic-bezier;

  &.primary {
    color: $white;
    background-color: $cherry;

    &:not(.hover-none):hover {
      background-color: $hue-1;
    }

    &:not(.hover-none):not([disabled]):active {
      background-color: $hue-0;
    }
  }

  &.secondary {
    color: $cherry;
    background-color: $white;
    border: 2px solid $cherry;
    line-height: 44px;

    &:disabled {
      background-color: $gray-2;
    }

    &:not(.hover-none) button:not([disabled]):hover {
      color: $hue-1;
      border-color: $hue-1;
    }
  }
}
